body {
	font-size: 62.5%;
	opacity: 1 !important;
}
a 
{
	outline: 0px solid #000;
}
h1 
{
	margin: 0;
	padding: 0;
	display: block;
	margin-top: 20px;
	margin-left: 15px;
}
h1 a img
{
	border: 0;
	outline: 0;
}

a#languagelabel,
a#themelabel
{
	float: left;
	cursor: pointer;
	margin: 0;
	padding: 5px 10px 6px 20px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	margin-right: 10px;
}
a#languagelabel span,
a#themelabel span 
{
	top: 4px;
}
#available-languages,
#available-themes 
{
	display: none;
	overflow: auto;
	overflow-x: hidden;
	max-height: 300px;
}
#available-languages ul,
#available-languages ul li,
#available-themes ul,
#available-themes ul li
{
	margin: 0;
	padding: 0;
	list-style: none;
	width: auto;
}
#available-languages a,
#available-themes a 
{
	display: block;
	padding: 5px;
	margin-top: 1px;
	padding-left: 30px !important;
	position: relative !important;
	text-decoration: none;
	min-width: 200px;
	width: auto;
	height: 20px;
	line-height: 18px;
	white-space: nowrap;
	
}
#available-themes a span.theme_preview 
{
    background: transparent url(themes/img/themes.gif) no-repeat 0px 0px;
    width: 23px;
    height: 20px;
    display: inline-block;
	position: absolute;
	top: 5px;
	left: 4px;
}
#available-languages a img
{
	position: absolute;
	top: 10px;
	left: 8px;
	border: 0;
}
#search-form 
{
	float: left;
	margin-left: 5px;
	display: none;
}
#switcher 
{
	display: none;
}
#nav-right 
{
    position: absolute;
    top: 106px;
    right: 10px;
    overflow: hidden;
    zoom: 1;
    z-index: 9;
}
form .ui-state-error 
{
	padding: 0pt 0.7em;
	margin-bottom: 10px;
}
form .ui-state-error p
{
	padding-left: 2em;
}
form .ui-state-error p span.ui-icon
{
	float: left;
	margin-right: 0.3em;
	margin-left: -2em; /* Pull the icon back to the left again */
}
#login-form,
#register-form
{
    display: none;
}
#nowplaying 
{
	position: absolute;
	top: 50%;
	right: 250px;
	width: 200px;
}
#progress 
{
	height: 6px;
}
#trackhistory,
#favourites,
#searchresults
{
	overflow: auto;
	height: 100%;
	padding: 0;
}
#trackhistory p 
{
    padding-left: 1.4em;
}
#layout 
{
    display: none;
}
.ui-widget-overlay 
{
	position: fixed !important;  
}
#loading 
{
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}
fieldset 
{
	border: 0;
	margin: 0;
	padding: 0;
}
.form-row 
{
	overflow: hidden;
	zoom: 1;
	margin-bottom: 10px;
}
.form-row label 
{
	width: 120px;
	padding-top: 2px;
	display: block;
	float: left;
}
.form-row input.textfield 
{
	 padding: .4em; 
	 float: left;
	 margin: 0 !important;
}
table {
	width: 100%;
	border-collapse: collapse;
}
#right img 
{
    float: right;
    width: 100px;
    height: 100px;
}
#right table 
{
    width: auto;
}
td 
{
	background-image: url(border.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	padding: 4px;
}
.ui-widget-content table td a,
#nowplaying a {
	text-decoration: none;
	display: block;
	border: 0 !important;
	background-image: none !important;
	background-color: transparent !important;
	position: relative;
}
#main .ui-state-default 
{
	background-image: none;
}
.ui-widget-content a.track 
{
	display: block;
}
a.track-artist 
{
	display: block;
	margin-left: 15px;
}
span.track-title, span.album-title, span.artist-title, span.track-length 
{
	display: block;
	padding-left: 20px;	
}
span.track-length {
    position: relative;
}
a .ui-icon, span .ui-icon 
{
	left: 0;
	position: absolute;
	top: 0;
}
.ui-accordion .ui-accordion-content {
	padding: 5px !important;
	background-image: none !important;
	background-color: transparent !important;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-layout-resizer {
	background-color: #ddd;
	opacity: 0.5;
}
.ui-layout-toggler 
{
	background-color: #999;
}
#results {
	height: 100%;
}
.ui-tabs .ui-tabs-panel {
	padding: 0;
}
.__jixed {
    width: 80%;
}
.__jixed p {
    margin: 0;
    padding: 0.5em;
}